<div style='margin-left: auto; margin-right: auto; width: 7em;'>
  <form #forma="ngForm">
    <table style="text-align: center">
      <tr>
        <td colspan="8">
          <p> {{subscribeTimer}}s</p>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <h3>
            {{broj}}
          </h3>
        </td>
      </tr>
      <tr >
        <td style="white-space:nowrap;">
          {{num1}}
        </td>
        <td style="white-space:nowrap;">
          {{num2}}
        </td>
        <td style="white-space:nowrap;">
          {{num3}}
        </td>
        <td style="white-space:nowrap;">
          {{num4}}
        </td>
        <td style="white-space:nowrap;">
          &nbsp;
        </td>
        <td style="white-space:nowrap;">
          {{num10}}
        </td>
        <td style="white-space:nowrap;">
          &nbsp;
        </td>
        <td style="white-space:nowrap;">
          {{num100}}
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <mat-form-field>
            Resenje (izraz):<input matInput type='text' name='answer' [(ngModel)]="this.answer" width="100%">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <mat-form-field>
            Konacan rezultat:<input matInput type='text' name='result' [(ngModel)]="this.result" width="100%">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <input type='button' value="Stop" (click)='stop()'>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <input type='button' value="Finish" (click)='finish()'>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <p style="color: black"><i>{{poruka}}</i></p>
        </td>
      </tr>
      <tr>
        <td colspan="8" style="white-space:nowrap;">
          <input type='button' value="Go back" (click)='back()'>
        </td>
      </tr>
      <tr>
        <td colspan="8" style="white-space:nowrap;">
            <input type='button' value="Logout" (click)='logout()'>
        </td>
      </tr>
    </table>
  </form>
</div>
{{points}}
