<div style='margin-left: auto; margin-right: auto; width: 10em;'>
    <form #forma="ngForm">
      <table>
        <tr>
          <td style="white-space:nowrap;">
            Secret question: &nbsp;
          </td>
          <td style="white-space:nowrap;">
            {{question}}
          </td>
        </tr>
        <tr>
          <td style="white-space:nowrap; text-align: center">
            Answer:
          </td>
          <td>
              <mat-form-field>
                <input matInput type='text' name='answer' [(ngModel)]="this.answer">
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <input  type='button' value="Continue" (click)='continue()'>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center; white-space:nowrap;">
            <p style="color: red"><i>{{poruka}}</i></p>
          </td>
        </tr>
      </table>
    </form>
  </div>
